version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
    Access-Control-Allow-Methods: [HEAD,GET,OPTIONS,DELETE]
    Access-Control-Allow-Credentials: [true]
    Access-Control-Allow-Headers: [Authorization,Accept,Cache-Control]
    Access-Control-Expose-Headers: [Docker-Content-Digest]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
auth:
  htpasswd:
    realm: basic-realm
    path: /opt/auth/htpasswd
{% if remoteurl is defined %}
proxy:
  remoteurl: {{ remoteurl }}
{% endif %}
